@media screen and ( max-width: 1267px )
    html
        font-size: 12px
    .nav
        &__item
            margin-right: 1rem
@media screen and ( max-width: 992px )
    .nav
        display: none
    .hero
        &__instagram
            display: none
        &__content
            margin-left: 0
@media screen and ( max-width: 760px )
    .row
        flex-direction: column
        align-items: center
    .types
        &__card
            margin-bottom: 4.29rem
    .card
        &__text 
                margin-left: 0
@media screen and ( max-width: 576px )
    .contacts
        &__phone
            margin-right: 0
            color: $light
            text-decoration: none
            &::after
                display: none
        &__button
            display: none
    .title
        max-width: 25rem
        font-size: 1.8rem
        margin: 0
    .hero
        &__title
            line-height: 1.44
            margin-bottom: 1.1rem
        &__scroll-down
            display: none
        &__content
            min-width: 22.86rem
        
@media screen and ( max-width: 460px )
    .hero  
        &__button
            width: 100%
@media screen and ( max-height: 520px )
    .hero
        &__scroll-down 
            display: none
@media screen and ( max-width: 320px )
    .hero
        &__text
            max-width: 100%
        &__button
            width: 100%
        
    
